@media only screen and (max-width:350px)
{
   
    .container {
        height: 23vh;
        width: 90vw;
        padding-top: 3rem;
        padding-left: 2rem;
      }
      .container h1 {
        color: #008B8B;
        margin-bottom: 2rem;
        font-size: 1.3rem;
      }
      .container label {
        margin-right: 2rem;
        color: #008B8B;
        font-size: 0.8rem;
      }
      .container input {
        width: 59%;
        border: none;
        outline: none;
        background: none;
        border-radius: 2px;
        font-size: 0.6rem;
        border: 0.5px solid rgb(97, 95, 95);
        padding: 4px 6px;
      }
      .container p, span {
        margin-bottom: 2rem;
        color: #008B8B;
        font-size: 0.5rem;
      }
}
@media only screen and (min-width:351px) and (max-width:500px)
{
   
    .container {
        height: 26vh;
        width: 90vw;
        padding-top: 3rem;
        padding-left: 2rem;
      }
      .container h1 {
        color: #008B8B;
        margin-bottom: 2rem;
        font-size: 1.3rem;
      }
      .container label {
        margin-right: 2rem;
        color: #008B8B;
        font-size: 0.8rem;
      }
      .container input {
        width: 59%;
        border: none;
        outline: none;
        background: none;
        border-radius: 2px;
        font-size: 0.6rem;
        border: 0.5px solid rgb(97, 95, 95);
        padding: 4px 6px;
      }
      .container p, span {
        margin-bottom: 2rem;
        color: #008B8B;
        font-size: 0.6rem;
      }
}
@media only screen and (min-width:501px) and (max-width:650px)
{
   
    .container {
        height: 23vh;
        width: 90vw;
        padding-top: 3rem;
        padding-left: 2rem;
      }
      .container h1 {
        color: #008B8B;
        margin-bottom: 2rem;
        font-size: 1.3rem;
      }
      .container label {
        margin-right: 2rem;
        color: #008B8B;
        font-size: 0.8rem;
      }
      .container input {
        width: 59%;
        border: none;
        outline: none;
        background: none;
        border-radius: 2px;
        font-size: 0.6rem;
        border: 0.5px solid rgb(97, 95, 95);
        padding: 4px 6px;
      }
      .container p, span {
        margin-bottom: 2rem;
        color: #008B8B;
        font-size: 0.7rem;
      }
}