*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left top, yellow,lightblue,yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 50vh;
    width: 60vw;
    background:rgba(255,255,255,0.3);
    padding-top: 5rem;
    padding-left: 5rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
}
.container input{
    width: 80%;
    border: none;
    outline: none;
    background: none;
    border-radius: 2px;
    font-size: 1.2rem;
    border: 0.5px solid rgb(97, 95, 95);
    padding: 10px 20px;
}
.container h1{
    color: #008B8B;
    margin-bottom: 2rem;
}
.container label{
    margin-right: 2rem;
    color: #008B8B;
    font-size: 1.2rem;
}
.container label,input{
    margin-bottom: 2rem;
}
.container p,span{
    margin-bottom: 2rem;
    color: #008B8B;
}